.footer__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .footer__links {
    max-width: 158px;
    display: block;
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer__links {
    margin-bottom: 32px;
  }
}
