.footer {
  margin: 0 auto;
  padding: 0;
  max-width: 92.5%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: 90.72%;
    margin: 0 48px 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: 720px;
    margin: 0 24px 24px;
    flex-direction: column;
  }
}
@media screen and (max-width: 430px) {
  .footer {
    margin-left: 16px;
    max-width: 186px;
    justify-content: start;
  }
}
