.intro__title {
  margin: 0 auto 40px;
  padding: 0;
  align-items: center;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .intro__title {
    max-width: 93.87%;
    font-size: 32px;
    line-height: 35px;
  }
}
